#!/bin/sh

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/shared/miniconda/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/shared/miniconda/etc/profile.d/conda.sh" ]; then
        . "/shared/miniconda/etc/profile.d/conda.sh"
    else
        export PATH="/shared/miniconda/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

conda create -n {{ envname }} -y && \
conda activate {{ envname }} && \
conda install -y -c conda-forge -c bioconda '{{ pkg }}={{ pkgver }}'

